<?php

require_once(__DIR__.'/vendor/autoload.php');

$username = 'n@n.com';
$password = 'god';
$appId = '3713774';

$authenticator = new \Vk\AppAuth\Authenticator(new \Vk\AppAuth\AuthPageParser());
$service = new \Vk\AppAuth\AuthService(new \Vk\AppAuth\GrantPageParser(), $authenticator);

$tokenInfo = $service->createToken($username, $password, $appId);

var_export($tokenInfo);

var_export($service->getLogMessages());
